<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../css/index1.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <title>page2</title>
</head>

<body>

  <div id="container-page2">
    <div id="big-group">

      <button id="bt1-page2" onclick="afficher_tableau('bt1-page2')"><i class="bi bi-person-circle"></i></i><br> Utilisateurs</button>
      <button id="bt2-page2" onclick="afficher_tableau('bt2-page2')"><i class="bi bi-book-fill"></i><br>Enseignements</button>
      <button id="bt3-page2" onclick="afficher_tableau('bt3-page2')"><i class="bi bi-mortarboard-fill"></i><br>Filiere Niveau</button>
      <button id="bt4-page2" onclick="afficher_tableau('bt4-page2')"><i class="bi bi-bookmark-star-fill"></i></i><br>Jury</button>
      <button id="bt5-page2" onclick="afficher_tableau('bt5-page2')"><i class="bi bi-people-fill"></i><br>Etudiants</button>


    </div>
    <div id="pagebt5">
      <div id="watch">
        <table id="customers-page2">
          <tr>
            <th>Maricule </th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Status paiment</th>
            <th>Filiere</th>
            <th>Action</th>
          </tr>
          
          <tr th:each="etudiant : ${etudiant}">
            <td><span th:text="${etudiant.matricule}"></span></td>
            <td><span th:text="${etudiant.nom}"></span></td>
            <td><span th:text="${etudiant.prenom}"></span></td>
            <td><span th:text="${etudiant.statutPaiement}"></span></td>
            <td><span th:if="${etudiant.filiere == null}">null</span><span th:if="${etudiant.filiere != null}"
                th:text="${etudiant.filiere.code}"></span></td>
            <td><a th:attr="data-id=${etudiant.id}" id="pay" onclick="addPayment(this)"><i
                  class="bi bi-credit-card"></i></a></td>
          </tr>
        </table>
        <div id="consulting-block">
          <form th:action="@{/etudiant/import}" id="formbtn5" method="post" enctype="multipart/form-data">
            <button id="upload1"  onclick="change('formbtn5')"><label for="file" >Importer</label></button>
            <input id="input-file"  type="file" accept=".xlsx, .xls, .csv" name="file" onchange="document.getElementById('formbtn5').submit();"> 


            <!-- <button id="valider"><label for="file">importer</label></button>
            <input  type="file" value="importer" name="file"  name="file" onchange="document.getElementById('formbtn5').submit();"> -->
          </form>
        </div>
      </div>
    </div>
    <div id="pagebt2" style="display: none;">
      <div id="watch">
        <table id="customers-page2">
          <tr>
            <th>Id </th>
            <th>Code</th>
            <th>Intitule</th>
            <th>Credit</th>
            <th>Filiere</th>
          </tr>
          <tr th:each="ue : ${ue}">
            <td><span th:text="${ue.id}"></span></td>
            <td><span th:text="${ue.code}"></span></td>
            <td><span th:text="${ue.intitule}"></span></td>
            <td><span th:text="${ue.credit}"></span></td>
            <td><span th:if="${ue.filiere == null}">null</span><span th:if="${ue.filiere != null}"
                th:text="${ue.filiere.code}"></span></td>
          </tr>
        </table>
        <div id="consulting-block">
          <form th:action="@{/ue/import}" id="formbtn2" method="post" enctype="multipart/form-data">
            <button id="upload1"  onclick="change('formbtn2')"><label for="file" >Importer</label></button>
            <input id="input-file"  type="file" accept=".xlsx, .xls, .csv" name="file" onchange="document.getElementById('formbtn2').submit();">          
          </form>
        </div>
      </div>
    </div>
    <div id="pagebt3" style="display: none;">
      <div id="watch">
        <table id="customers-page2"  >
          <tr>
            <th>Id </th>
            <th>Code</th>
            <th>Libele</th>
          </tr>
              <tr th:each="filiere : ${filiere}">
                <td><span th:text="${filiere.id}"></span></td>
                <td><span th:text="${filiere.code}"></span></td>
                <td><span th:text="${filiere.libelle}"></span></td>
              </tr>
          
        </table>
        <div id="consulting-block">
          <form th:action="@{/filiere/import}" id="formbtn3" method="post" enctype="multipart/form-data">
            <button id="upload1"  onclick="change('formbtn3')"><label for="file" >Importer</label></button>
            <input id="input-file"  type="file" accept=".xlsx, .xls, .csv" name="file"  onchange="document.getElementById('formbtn3').submit();">
          </form>
        </div>
      </div>
    </div>
    <div id="pagebt4" style="display: none;">
      <div id="watch">
        <table id="customers-page2">
          <tr>
            <th>id </th>
            <th>User</th>
          </tr>
          <tr th:each="jury : ${jury}">
            <td><span th:text="${jury.id}"></span></td>
            <td><span th:text="${jury.user.username}"></span></td>
          </tr>
        </table>
        <div id="consulting-block">
          <form th:action="@{/jury/import}" id="formbtn4" method="post" enctype="multipart/form-data">
            <button id="upload1"  onclick="change('formbtn4')"><label for="file" >Importer</label></button>
            <input id="input-file"  type="file" accept=".xlsx, .xls, .csv" name="file" onchange="document.getElementById('formbtn4').submit();">
          </form>
        </div>
      </div>
    </div>
    <div id="pagebt1" style="display: none;">
      <div id="watch">
        <table id="customers-page2">
          <tr>
            <th>Id </th>
            <th>Actif</th>
            <th>User</th>
          </tr>
          <tr th:each="enseignant: ${enseignant}">
            <td><span th:text="${enseignant.id}"></span></td>
            <td><span th:text="${enseignant.actif}"></span></td>
            <td><span th:text="${enseignant.user.username}"></span></td>
          </tr>
        </table>
        <div id="consulting-block">
          <form th:action="@{/enseignant/import}" id="formbtn1" method="post" enctype="multipart/form-data">
            <button id="upload1"  onclick="change('formbtn1')"><label for="file" >Importer</label></button>
            <input id="input-file"  type="file" accept=".xlsx, .xls, .csv" name="file" onchange="document.getElementById('formbtn1').submit();">          </form>
        </div>
      </div>
    </div>
    <div id="pageform" style="display: none;">
      <form id="payement-id" th:action="@{/etudiant/savePaiement/{id}}" th:object="${paiement}" method="post">
        <label  for="Bank">Bank:</label>
        <input type="text" th:field="*{nomBank}">
        <label  for="DatePaiement">Date Paiement:</label>
        <input type="date" th:field="*{datePaiement}">
        <label  for="NumeroRecue">Numero Recue:</label>
        <input type="text" th:field="*{numRecu}">
        <label  for="Montant">Montant:</label>
        <input type="number" th:field="*{montant}">
        <button type="submit">Enregistrer</button>
        </form>
    </div>

  </div>





















  <div class="tooltip-container">
    <span class="tooltip-trigger">Survolez-moi</span>
    <div class="tooltip-content">Contenu de l'infobulle</div>
  </div>



</body>
<script src="../js/index.js"></script>
<script src="../js/xlsx.full.min.js"></script>

</html>