

<html lang="en" xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>
    <h1> modification avancée</h1>
    <form id="correctionForm" method="post" th:action="@{/modifierNotesAvancee/{matricule}{code}}">
        <input type="hidden" name="_method" value = "PUT" />

        <div class="form-group">
            <label for="matricule">matricule : </label>
            <input type="text" id="matricule" name="matricule"  required>
        </div>

        <div class="form-group">
            <label for="code"> code :</label>
            <input type="text" id="code" name="code"   required>

        </div>

        <button type="submit"> mettre à jour les notes </button>
    </form>
    <div id="message" class="message"></div>

    <!-- <script src="script.js"></script> -->

</body>

</html>