<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
     crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" />
     <title>Progressive Bar</title>
</head>
<body>
    <header>

    </header>
    <div class="containe">
        <div id="rowNull">
            home / jury / deliberation
        </div>
        <div  id="row1">
                
                <div id="row1col1">
                        <h2>Seance Jury Deliberation</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi, dolorem?</p>
                        <div id="adminDeliberation">
                                <div class="Jury">
                                    <div class="admin" id="admin1">
                                        <i class="fa fa-user-circle fa-lg" aria-hidden="true"></i>
                                    </div>
                                    <div class="role">Rapporteur</div>
                                    <div class="adminName">Pr. Nanvou</div>
                                    
                                </div>
                                <div class="Jury">
                                    <div class="admin" id="admin2" >
                                        
                                    </div>
                                    <div class="role">President</div>
                                    <div class="adminName">Dr.Doundan</div>
                                    
                                </div>
                                <div class="Jury">
                                    <div class="admin" id="admin3">
                                        <i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i>
                                    </div>
                                    <div class="role">Secretaire</div>
                                    <div class="adminName">Dr.Abessolo</div>
                                    
                                </div>
                               
                        </div>
                        <div class="progress-steps-container">
                            <div class="step-progression" id="stepProgression"></div>
                            <div class="step-number">1</div>
                            <div class="step-number">2</div>
                            <div class="step-number">3</div>
                            <div class="step-number">4</div>
                            <div class="step-number">5</div>
                        </div>
                        <div class="buttons d-flex justify-content-center">
                            <button id="nextBtn" class="Mybtn ">Suivant</button>
                            <button id="prevBtn" class="Mybtn ">Annuler</button>
                        </div>
                </div>
                <div  id="row1col2">
                    <h4>
                        Jury deliberation 
                    </h4>
                    <!-- This list should be generated by thymeleamf -->
                   <div id="filNiv">
                        <!-- Thymeleaf here -->
                        <!-- <ul>
                            <li><div class="selected"></div><div>INFO-L2</div></li>
                            <li><div class="selected"></div><div>ICT-3</div></li>
                            <li><div class="selected"></div><div></div></li>
                            <li><div class="selected"></div><div></div></li>
                            <li><div class="selected"></div><div></div></li>                            
                        </ul> --><br><br>
                        <div>
                            <input type="radio" id="radio1" name="filiere" value="infoL2">
                            <label for="radio1">INFO-L2</label>
                        </div>
                        <div>
                            <input type="radio" id="radio2" name="filiere" value="ictL3">
                            <label for="radio2">ICT-L3</label>
                        </div>
                        <div>
                            <input type="radio" id="radio3" name="filiere" value="mathM1">
                            <label for="radio3">MATH-M1</label>
                        </div>
                        <div>
                            <input type="radio" id="radio4" name="filiere" value="biosL1">
                            <label for="radio4">BIOS-L1</label>
                        </div>
                        <div>
                            <input type="radio" id="radio5" name="filiere" value="phyL2">
                            <label for="radio5">PHY-L2</label>
                        </div>
                   </div>
                    
                </div>
        </div>
        <div id="row2">
            <form action="">
                <fieldset id="critere">
                    <legend id="l1">Edition des criteres</legend><br>
                    <div id="clist">
                        <div class="c">
                            <input class="critere" type="number" name="mgpMin" id="mgpMin" min="0" max="4">
                            <label class="label" for="mgpMin">MGP MINIMUM </label>
                        </div>
                        <div class="c">
                            <input class="critere" type="number" name="mgpMax" id="mgpMax" min="0" max="4">
                            <label class="label"for="mgpMax">MGP MAXIMUM </label>
                        </div>
                        <!-- <div class="c">
                            <input class="critere" type="number" min="0" max="100" name="pourcentageCapitalise" id="pourcentageCapitalise">
                            <label class="label" for="pourcentageCapitalise">POURCENTAGE CAPITALISE (%)</label>    
                        </div> -->
                        <div class="c">
                            <input class="critere" type="number" name="nbrEchec" id="nbrEchec" min="0" max="14">
                            <label class="label" for="nbrEchec">NOMBRE ECHECS </label>   
                        </div>
                        <div class="c m" style="width: 7cm;"> 
                            <input style="width:fit-content" id="ajoutCritere" class="Mybtn cBtn" type="button" value="Ajouter Critere"></div>   
                         </div>
                
            
                </fieldset><br>
                <fieldset id="fcriteres">

                    <table name= "criteres" id="criteres">
                        <thead>
                            <tr>
                                <th>#Numero</th>
                                <th>Mgp min</th>
                                <th>Mgp max</th>
                                <!-- <th>Pourcentage d'ues capitalise(%)</th> -->
                                <th>Nombre d'echecs</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="tbodycritere">
                            <!-- <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><button class="eye"><i class="bi bi-eye"></i></button> <button class="trash"><i class="bi bi-trash"></i></button> </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><button class="eye"><i class="bi bi-eye"></i></button> <button class="trash"><i class="bi bi-trash"></i></button> </td>
                            </tr>
                            <tr>
                               <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><button class="eye"><i class="bi bi-eye"></i></button> <button class="trash"><i class="bi bi-trash"></i></button> </td>
                            </tr> -->
                        </tbody>
                        <tfoot></tfoot>
                    </table>

                <!-- <input class="Mybtn cBtn" type="submit" value="Soumettre"> -->
                </fieldset>
            </form>
        </div>
        <div id="row3">
            <div>
                <h3 id="l2">Rapport de deliberation </h3>
                <p>
                    Infomations sur la deliberations les crites.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id atque libero vel. Delectus reprehenderit explicabo, voluptatem nisi quaerat dolorem neque omnis?
                </p>
            </div>
            <table id="pvD">
                <thead>
                    <tr>
                        <th>Ue</th>
                        <th>Nom</th>
                        <th>Matricule</th>
                        <th>Ancienne note</th>
                        <th>Note</th>
                     
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="element : ${listeDesDeliberations}">
                        <td th:text="${element.codeUe}"></td>
                        <td th:text="${element.nom}"></td>
                        <td th:text="${element.matricule}"></td>
                        <td th:text="${#numbers.formatDecimal(element.oldNote, 2, 2)}"></td>                         
                        <td th:text="${#numbers.formatDecimal(element.actuNote, 2, 2)}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="script.js"></script>
    <script th:src="@{js/script.js}"></script>

</body>
</html>